/* Media Queries for Tablets (768px and below) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .heading {
        font-size: 1.5rem;
        width: auto !important;
    }

    .heading-cont {
        padding-top: 200px;
        padding-bottom: 120px;
        margin-top: -99px !important;
    }

    .navbar .get-started {
        display: none !important;
    }

    .custom-padding {
        padding-top: 8rem !important;
        padding-bottom: 8rem !important;
    }

    .navbar {
        padding: 10px 20px;
    }

    .nav-item {
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }

    .header-img {
        margin-top: 0px !important;
    }

    .heading-cont {
        padding-top: 400px;
    }

    .link {
        font-size: 14px;
    }

    .get-started {
        display: none !important;
    }
}

/* Media Queries for Smartphones (576px and below) */
@media (max-width: 576px) {
    .heading {
        font-size: 1.5rem;
        width: 370px !important;
    }

    .heading-cont {
        padding-top: 200px;
        padding-bottom: 120px;
        margin-top: -99px !important;
    }

    .header-img {
        margin-top: 0 !important;
    }

    .custom-padding {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }

    .navbar {
        padding: 8px 15px;
    }

    .navbar .get-started {
        display: none !important;
    }

    .nav-item {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }

    .link {
        font-size: 12px;
    }

    .logo {
        font-size: 1.2rem;
    }

    .list-inline-item a {
        font-size: 18px;
    }

    .list-inline-item a span {
        padding: 7px;
    }

    .btn-primary {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .dropdown-menu {
        position: static;
        width: 100%;
        text-align: center;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        margin-top: 5px;
    }

    .dropdown-menu {
        margin-top: -10px;
        max-height: 630px;
        /* Adjust the height based on your layout */
        overflow-y: auto;
    }

    .footer .row {
        padding-top: 110px;
        padding-bottom: 110px;
        text-align: center;
    }

}

/* Scroll-to-top button adjustments */
#scrollTopButton {
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
}