body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500 !important;
}

h3 {
    font-weight: 500 !important;
    color: #000;
}

.header-btn{
    margin-top: 1rem;
    margin-right: 10px;
}

.video-container {
    height: 700px;
}

.form-control {
    background: #ededff;
    border: 1px solid #e3e3ff !important;
    padding-bottom: 15px !important;
    border-radius: 16px !important;
    padding-top: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.sendBtn {
    padding: 20px;
    border-radius: 20px;
}

.heading {
    color: rgba(12, 12, 12, 0.877);
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.heading-cont {
    padding-bottom: 200px;
    z-index: 1;
    width: 90%;
    padding-top: 200px;
    position: absolute;
}

.heading-cont p {
    text-align: justify;
    word-spacing: 2px;
}

.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: white;
}


/* Style for the navbar when scrolled */
.navbar.scrolled {
    content: '';
    animation: fadeInDown 1s ease forwards;
    box-shadow: 0px 10px 15px -3px rgba(132, 149, 203, 0.158);
    background: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.64);
}

/* color when scrolled */
.navbar.scrolled .link {
    color: #575757;
}

.link {
    color: #3f3f3f;
    font-weight: 400;
}

.link:hover {
    color: #3f3f3f;
}

.link:visited {
    color: #3f3f3f;
}

.navbar.scrolled .navbar-brand {
    color: black;
}

.logo {
    color: white;
}

.nav-item {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.section {
    padding: 60px 0;
}

.service-card {
    transition: transform 0.3s;
}


.service-card:hover {
    transform: translateY(-10px);
}

.footer {
    background-color: #181925;
    color: white;
    padding: 20px 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;
    overflow: hidden;
}

.footer a {
    color: white;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .row {
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: left;
}

.input-group .form-control {
    border-radius: 0.25rem 0 0 0.25rem;
}

.input-group .btn {
    border-radius: 0 0.25rem 0.25rem 0;
}

.nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.card-body .icon i {
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

#scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 19;
    background-color: white !important;
    color: rgb(58, 58, 58) !important;
    border: 1px solid #eee !important;
    border-radius: 50%;
    text-align: center !important;
    font-size: 15px;
    padding: 10px 17px !important;
}

#scrollTopButton:hover {
    background-color: white !important;
    background-color: #222 !important;
    border: 1px solid #222 !important;
    color: rgb(214, 214, 214) !important;
}


/* dropdown visible on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Transition effect for smoothness */
.dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.6s ease-in-out;
    transition: 0.1s;
}

/* Prevent hiding the dropdown when clicking inside */
.nav-item.dropdown .dropdown-menu {
    background-color: #fff;
    display: none;
    border-bottom: 1px solid #eee !important;
    animation: fadeOut 0.6s ease-in-out;
}


.nav-item.dropdown.show .dropdown-menu:hover {
    display: block;
}

.heading-container {
    padding-top: 150px;
}

.heading-container h3 {
    color: white;
    font-size: 4.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.email-subscription input[type="email"] {
    border-radius: 30px;
    padding: 15px;
}

.email-subscription button {
    border-radius: 10px;
    padding: 15px;
    transition: background-color 0.3s ease;
}

.email-subscription button:hover {
    background-color: #3498db;
}


.custom-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.img-card {
    height: 400px;
    max-width: 400px;
    object-fit: cover;
    background-position: bottom;
    filter: brightness(0.7);
}

.img-big {
    height: 825px;
    max-width: 400px;
    object-fit: cover;
    filter: brightness(0.7);
}

.head-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.header-img{
    margin-top: -100px !important;
}


.btn { border-radius: 33px; font-size: 0.9em; }

.navbar-expand-md .navbar-nav .dropdown-menu { border-radius: 0 !important; border: 0; }

.card { border-radius: 20px !important; border: 1px solid #eee !important; }

.card-img { border-radius: 20px !important; border: none !important; } 

.card-body { padding: 30px 40px !important; }

.animate__animated { will-change: transform, opacity; }

/* Example animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn { animation: fadeIn 0.5s ease-out forwards; }

.btn{ padding: 10px 20px; }


/* Container for the carousel */
.brand-carousel { overflow: hidden; position: relative; width: 100%; }

.brand-track { display: flex; width: calc(100%* 2); animation: scroll 20s linear infinite; }

.brand-item { flex: 0 0 auto; padding: 0 3px; width: auto; }

.brand-item img { width: auto; height: 110px; max-height: 110px; object-fit: contain; filter: opacity(0.9); }

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.footer a{ font-size: 14px !important; color: #eee; }

.menu { position: absolute !important; left: 0; right: 0;text-align: left;border-bottom: 2px solid blue;padding-top: 2rem; }


body.dropdown-open { background-color: black !important; transition: background-color 0.3s ease; }

.social-icon{ font-size: 20px; }

.dropdown-link{ display: flex; }


/* Media Queries for Tablets (768px and below) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .heading { font-size: 1.5rem; width: auto !important; }

  .heading-cont { padding-top: 200px; padding-bottom: 120px; margin-top: -99px !important; }

  .navbar .get-started { display: none !important; }

  .custom-padding { padding-top: 8rem !important; padding-bottom: 8rem !important; }

  .navbar { padding: 10px 20px; }

  .nav-item { padding-left: 0.6rem; padding-right: 0.6rem; }

  .header-img { margin-top: 0px !important; }

  .heading-cont { padding-top: 400px; }

  .link { font-size: 14px; }

  .get-started { display: none !important; }
}

/* Media Queries for Smartphones (576px and below) */
@media (max-width: 576px) {
  .heading { font-size: 1.5rem; width: 370px !important; }

  .heading-cont { padding-top: 200px; padding-bottom: 120px; margin-top: -99px !important; }

  .header-img { margin-top: 0 !important; }

  .custom-padding { padding-top: 6rem !important; padding-bottom: 6rem !important; }

  .navbar { padding: 8px 15px; }

  .navbar .get-started { display: none !important; }

  .nav-item { padding-left: 0.4rem; padding-right: 0.4rem; }

  .link { font-size: 12px; }

  .logo { font-size: 1.2rem; }

  .list-inline-item a { font-size: 18px; }

  .list-inline-item a span { padding: 7px; }

  .btn-primary { font-size: 1rem; padding: 10px 20px; }

  .dropdown-menu { position: static; width: 100%; text-align: center; }

  .nav-item.dropdown:hover .dropdown-menu { margin-top: 5px; }

  .dropdown-menu { margin-top: -10px; max-height: 630px; overflow-y: auto; }

  .footer .row { padding-top: 110px; padding-bottom: 110px; text-align: center; }
}
/* 
/* Scroll-to-top button adjustments */
#scrollTopButton { bottom: 20px; right: 20px; padding: 5px 10px; }